body {
    background-color: black;
    color: white;
    font-family: system-ui, sans-serif;
}

td, th {
    padding: 5px;
}

table {
    margin-top: 50px;
}



th, td {
    border: 1px solid #ffffff;
}